<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="no-cache"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="user-scalable=yes,width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-itunes-app" content="app-id=590218307"/>
	<title>生活纪录片</title>
	<link href="css/life.css" rel="stylesheet" type="text/css"/>
	<link href="css/emoji.css" rel="stylesheet"/>
	<script src="js/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="js/jquery.lazyload.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function() {
		    $("img.lazy").lazyload({
		        effect : "fadeIn"
		    });
		});
	</script>
</head>
<body>
<ul class="ui-list">
    <%
    var numReg = /\-\d+/g;
    var emojiReg = /\[EMOJI\-\d+\]/;

    if (creamData.title) {
        var numString = creamData.title.match(numReg);
        if (numString) {
            for (var j=0; j<numString.length; j++) {
                creamData.title = creamData.title.replace(emojiReg,"<span class=\"emoji"+numString[j]+" emoji-pic\"></span>");
            }
        }
    }
    %>
	<li class="ui-list-item">
		<div class="ui-doc">
			<div class="ui-doc-img cover">
				<img class="lazy" class="lazy" data-original="<%=creamData.image%>" />
				<div class="ui-doc-param">
					<div class="ui-doc-param-name"><%- creamData.title %></div>
					<div class="ui-doc-param-date"><%=creamData.publish_time%></div>
					<div class="ui-doc-param-icon"><img src="<%=user.avatar%>" /></div>
					<div class="ui-doc-param-author"><%- creamData.author %></div>
				</div>
			</div>
		</div>
	</li>

	<%
	for (var i=0; i<itemData.length; i++) {
        var item = itemData[i];

        if (item.type == 1) { // type [1:section, 2:item]
            //continue;
        }

        var itemImgUrl = (item.image_url ? item.image_url : "").trim();//针对精选
        if (!itemImgUrl) {
            itemImgUrl = (item.image ? item.image : "").trim();//针对原创
        }

        if (item.detail) {
            var numString = item.detail.match(numReg);
            if (numString) {
                for (var j=0; j<numString.length; j++) {
                    item.detail = item.detail.replace(emojiReg,"<span class='emoji"+numString[j]+" emoji-pic'></span>");
                }
            }
        }
        var itemNum = (i+1+1);
        var imgId = "img" + itemNum;
        var itemDetail;
        if (itemImgUrl) {
            itemDetail = (item.detail ? item.detail.replace(/\<br\>/gi,"\r\n") : "");
        } else if (!numString) {
            itemDetail = (item.detail ? (item.detail.replace(/^\s+|\s+$/g,"").replace(/\s+/g,"<br>")) : "");
        } else {
            itemDetail = item.detail;
        }
    %>

	<li class="ui-list-item">
		<div class="ui-doc">
		    <% if (itemImgUrl) { %>
			<div class="ui-doc-img">
				<img class="lazy" data-original="<%- itemImgUrl %>" />
			</div>
		    <% } %>

            <% if (itemDetail) { %>
			<div class="ui-doc-text"><%- itemDetail%></div>
			<% } %>
		</div>
	</li>


    <% } %>

</ul>
<div class="ui-footer">
	<img src="images/mark.png" width="72" height="72" alt="生活纪录片"/>
	生活纪录片<br />记录一段故事

	<% if (isIOS) { %>
	<div class="badge-ios">
		<a href="https://itunes.apple.com/cn/app/sheng-huo-ji-lu-pian-ji-lu/id590218307?mt=8">
			<img alt="Get it on App Store" src="https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store-cn.svg" />
		</a>
	</div>
	<% } else { %>
	<div class="badge-android">
		<a href="https://play.google.com/store/apps/details?id=com.liba.android.meet">
	  		<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/zh-cn_generic_rgb_wo_45.png" />
		</a>
	</div>
	<% } %>

</div>
<div class="ui-footer-mobile"> </div>
<% if (isIOS) { %>
<div id="smartAd" class="smartad">
	<a id="smartAd-close" class="sd-close" href="#"></a>
	<a onClick="javascript:try_to_open_app();" id="smartAd-open" class="sd-point" href="wx7d3783dc372514df://<%=creamData.topicId%>">
	<p class="sd-font">
		<b class="sd-meet"></b>
		<span>生活纪录片-记录一段故事</span>
		<b class="sd-dl" style="">立即打开</b>
	</p>
	</a>
	<script language="javascript">
	var timeout;
	function open_appstore() {
	window.location='https://itunes.apple.com/cn/app/sheng-huo-ji-lu-pian-ji-lu/id590218307?mt=8';
	}
	 
	function try_to_open_app() {
	timeout = setTimeout('open_appstore()', 300);
	}
	</script>
</div>
<% } else { %>
<div id="smartAd" class="smartad">
	<a onClick="javascript:try_to_open_app();" id="smartAd-open" class="sd-point" href="meet://meet.liba.com/share?id=<%=creamData.topicId%>">
	<p class="sd-font">
		<b class="sd-meet"></b>
		<span>生活纪录片-记录一段故事</span>
		<b class="sd-dl" style="">立即打开</b>
	</p>
	</a>
	<script language="javascript">
	function try_to_open_app(){
	window.location.href="meet://meet.liba.com/share?id=<%=creamData.topicId%>";
	window.location.href="http://meet.liba.com/show?topicId=<%=creamData.topicId%>";
	window.open("http://meet.liba.com");
	
	}
	</script>
</div>
<% } %>
</body>
</html>

