<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>liba_tpl</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <link href="css/meet_play_style.css" type="text/css" rel="stylesheet">
    <script src="js/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="js/jquery.pause.min.js" type="text/javascript"></script>
    <script src="js/meet_play.js" type="text/javascript"></script>
</head>

<body class="load">
<% if (creamData.music) {%>
<audio id="media" src="<%- creamData.music%>" loop></audio>
<% } %>
<div class="main">
<div class="mask"></div>
<ul class="content">
<li>
    <table class="img"><td><img queue_src="<%- creamData.image %>"></td></table>
    <div class="box_shadow_top"><div class="box_shadow_bot">
            <div class="box_text">
                <p><%- creamData.title %><br><br><%=creamData.publish_time%></p>
            </div>
        </div></div>
</li>
    <%
    var numReg = /\-\d+/g;
    var emojiReg = /\[EMOJI\-\d+\]/;

    for (var i=0; i<itemData.length; i++) {
        var item = itemData[i];

        if (item.type == 1) { // type [1:section, 2:item]
            //continue;
        }

        var itemImgUrl = (item.image_url ? item.image_url : "").trim();//针对精选
        if (!itemImgUrl) {
            itemImgUrl = (item.image ? item.image : "").trim();//针对原创
        }

        if (item.detail) {
            var numString = item.detail.match(numReg);
            if (numString) {
                for (var j=0; j<numString.length; j++) {
                    item.detail = item.detail.replace(emojiReg,"<span class='emoji"+numString[j]+" emoji-pic'></span>");
                }
            }
        }

        var itemDetail;
        if (itemImgUrl) {
            itemDetail = (item.detail ? item.detail.replace(/\<br\>/gi,"\r\n") : "");
        } else if (!numString) {
            itemDetail = (item.detail ? (item.detail.replace(/^\s+|\s+$/g,"").replace(/\s+/g,"<br>")) : "");
        } else {
            itemDetail = item.detail;
        }
    %>

    <% if (itemImgUrl) { %>
    <li>
        <table class="img"><td><img queue_src="<%- itemImgUrl %>"></td></table>
        <% if (itemDetail) { %>
        <div class="box_shadow_top">
            <div class="box_shadow_bot">
                <div class="box_text">
                    <p><%- itemDetail%></p>
                </div>
            </div>
        </div>
        <% } %>
    </li>
    <% } else { %>

    <% if (itemDetail) { %>
    <li>
        <div class="box_shadow_top">
            <div class="box_shadow_bot">
                <div class="box_text">
                    <p><%- itemDetail%></p>
                </div>
            </div>
        </div>
    </li>
    <% } %>
    <% } %>
    <% } %>
</ul>

<!-- 顶部控制栏 -->
<div id="toolBox" style="display:none;">
    <div class="tool">
        <div class="btn btn_stop"></div>
        <div class="btn btn_voice"></div>
        <div class="bar">
            <div class="bar_bg"><div class="bar_now" style="width:0%;"></div></div>
        </div>
    </div>
</div>
<!-- 顶部控制栏 end-->

<!-- iso 开始按钮-->
<div class="ios_start" style=" display:none;"></div>

<!-- iso 开始按钮-->
<div class="portrait"></div>
</div>
</body>
</html>
